*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    transition: all ease 1s;
}

body{
    background: url(../image/fundo1.jpg) center, no-repeat;
    background-size: cover;
    height: 100vh;
}

.newBackground{
    background: url(../image/fundo2.jpg);
}

header{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 0 20px;
    margin-bottom: 10rem;
}

header h1{
    text-transform: uppercase;
}

.h1{
    background: #0a0a0a;
    color: #ffffff;
}

.coresBrancas{
    color: #fff;
}

.changeColor{
    border: none;
    background: #000;
    color: #fff;
    padding: 0.7rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
}

header nav ul{
    display: flex;
    gap: 20px;
}

nav ul li{
    font-size: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    color: #fff;
}

.conteudoPrincipal{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudoPrincipal h2{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    text-transform: uppercase;
}

.container{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.box{
   height: 19rem;
   width: 20rem;
   display: flex;
   background-color: #e9e6e6;
   align-items: center;
   justify-content: center; 
   border-radius: 15px;
   margin-top: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18em;
}

.form input{
    width: 15rem;
    margin: 0.7rem 0;
    outline: none;
    height: 1.4rem;
}

.form textarea{
    width: 15rem;
    height: 4rem;
    margin-bottom: 1.2rem;
}

.form .btn{
    height: 2rem;
    width: 8rem;
    background-color: rgb(195, 132, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    transition: all ease 0.8s;
}

.form .btn:hover{
    background-color: #41025a;
    transform: scale(1.1,1.2);
    overflow: hidden;
}

.conteudoPrincipal .btnConferirServicos{
    width: 20em;
    height: 2rem;
    margin-top: 3rem;
    background-color: rgb(195, 132, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    transition: all ease 0.8s;
}

.servicos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    opacity: 0;
    transition: all ease 1s;
}

.servicos.mostrar{
    opacity: 1;
    transition: all ease 1s;
}

.conteudoServicos{
    display: flex;
    gap: 5rem;
}

.imgs{
    position: relative;
}

.imgs img{
    height: 10rem;
    width: 19rem;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
}

.conteudoMensagem{
    position: absolute;
    bottom: 0.2em;
    background: #093e83;
    color: #e9e6e6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.2em;
    transition: all ease 0.5s;
    opacity: 0;
    width: 100%;
}

.conteudoMensagem.ativada{
    opacity: 1;
    transition: all ease 0.5s;
}

.footer{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h2{
    font-size: calc(1vw + 0.6rem);
    text-transform: uppercase;
}


